<mat-toolbar class="sticky-toolbar" color="primary">
  <span>
    <button routerLink="" mat-button>
      <mat-icon>
        local_movies
      </mat-icon> Angular Movies
    </button>
  </span>

  <div>
    <button routerLink="movies/search" mat-button>
      <mat-icon>search</mat-icon>Search movies
    </button>
  </div>

  <div>
    <button routerLink="genders" mat-button>
      Genders
    </button>
  </div>

  <div>
    <button routerLink="actors" mat-button>
      Actors
    </button>
  </div>

  <div>
    <button routerLink="theaters" mat-button>
      Theaters
    </button>
  </div>

  <div>
    <button routerLink="movies/create" mat-button>
      Create Movie
    </button>
  </div>

</mat-toolbar>
