<form (submit)="onSubmit()" [formGroup]="actorsForm">

  <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input formControlName="name" matInput>
      <mat-error>Name is required</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Date of birth</mat-label>
    <input formControlName="date" matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <app-input-img [urlActualImage]="model.image" (fileSelected)="fileSelected($event)"></app-input-img>
  <app-input-markdown (changeMarkDown)="markdownChange($event)"></app-input-markdown>
  <div>
    <button mat-flat-button color="primary" [disabled]="actorsForm.invalid">
      Save changes
    </button>
    <button mat-stroked-button routerLink="/actors">Cancel</button>
  </div>
</form>
